.footer{
    height: 100px;
    width: 100%;
    background-color: #1c2a48;

    display: flex;
    justify-content: center;
    align-items: center;
}

img{
    width: 200px;
    display:block;
    margin:auto;
}