    @media (min-width: 900px) {
        ion-card{
            width: 16rem;
        }
        .titulo-productos{
            margin-left: 1rem;
            font-weight: 300;
            padding-left: 12rem;
            color: var(--ion-color-primary);
        }
        .center {
            margin-left: auto;
            margin-right: auto;
            display: block;
        }
    }


ion-card{
    min-width: 280px;
    display: inline-block;
}

.titulo-productos{
    margin-left: 1rem;
    font-weight: 300;
    color: var(--ion-color-primary);
}

