<app-header titulo="login"></app-header>


<ion-content fullscreen>
<form onsubmit="processForm(event)">
    <ion-list lines="full" class="ion-no-margin ion-no-padding">
    <ion-item>
        <ion-label position="stacked">Nombre <ion-text color="danger">*</ion-text></ion-label>
        <ion-input required type="text" oninput="handleFirstNameValue(event)"></ion-input>
    </ion-item>

    <ion-item>
        <ion-label position="stacked">e-mail <ion-text color="danger">*</ion-text></ion-label>
        <ion-input required type="text" ></ion-input>
    </ion-item>

    <ion-item>
        <ion-label position="stacked">Rut <ion-text color="danger">*</ion-text></ion-label>
        <ion-input required type="number" ></ion-input>
    </ion-item>

    <ion-item>
        <ion-label position="stacked">Teléfono <ion-text color="danger">*</ion-text></ion-label>
        <ion-input required type="number" ></ion-input>
    </ion-item>



    </ion-list>

    <div class="ion-padding">
    <ion-button expand="block" type="submit" class="ion-no-margin">Iniciar sesión</ion-button>
    </div>
</form>

</ion-content>

<ion-footer no-border>
    <app-footer></app-footer>
</ion-footer>
